body{
    background-color: #303030;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h1{
    color: white;
    text-align: center;
}

main {
    background-color: white;
    width: 500px;
    margin: auto;
    border-radius: 25px;

    /* Centralizar conteúdo */
    display: flex;
    flex-direction: column; /* mantém os itens em coluna */
    align-items: center;    /* centraliza horizontalmente */
    justify-content: center;/* centraliza verticalmente */
    padding: 20px;          /* espaço interno */
}

#res{
    color: rgba(0, 0, 0, 0.3);
    text-align: center;
    margin: 15px;
}

.numbers{
    display: block;
    margin: auto;
    width: 500px;
}

label{
    font-size: 22px;
    text-align: center;
}

#num1h{
    display: flex;
    justify-content: center;
    border: 2px red solid;
    width: 200px;
    height: 25px;
    border-radius: 12px;
}

#num2h{
    display: flex;
    justify-content: center;
    border: 2px red solid;
    width: 200px;
    height: 25px;
    border-radius: 12px;
}

button{
    width: 100px;
    height: 30px;
    border: 2px red solid;
    border-radius: 8px;
    font-size: 18px;
    margin: 10px;
}

button:hover{
    background-color: red;
    color: white;
    transition: 0.3s;
}